extends ./layout.jade

block content
	h1.title Contact Us
	h2.call
		i.fa.fa-phone.fa-lg
		span +91&nbsp;99998&nbsp;27776
	h2.email
		i.fa.fa-envelope.fa-lg
		span contact@thesugarcube.in
	#enquiry-form
		include ./includes/gform.html
		