extends ./layout.jade

block stylesheets
	link(href="stylesheets/jquery.bxslider.css", rel="stylesheet")

block content
	h1.title The&nbsp;
		sugar Sugar
		|  Cube
	
	.bx-wrapper
		ul.bxslider
			li
				img(src='images/slideshow/slide1.jpg')
			li
				img(src='images/slideshow/slide2.jpg')
			li
				img(src='images/slideshow/slide3.jpg')
			li
				img(src='images/slideshow/slide4.jpg')
	img.map(src='http://maps.googleapis.com/maps/api/staticmap?center=C-67A,+Greater+Kailash+part+1+New+Delhi,+India&zoom=15&scale=2&size=380x200&maptype=roadmap&sensor=false&format=png&visual_refresh=true&markers=scale:2%7Ccolor:0xc41010%7Clabel:%7CC-67A,+Greater+Kailash+part+1+New+Delhi,+India', alt='C-67A, Greater Kailash Part 1, New Delhi, India')
	
block scripts
	script(src="/scripts/jquery.bxslider.min.js")
