html
	head
		title The Sugar Cube
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='stylesheets/styles.css')
	body
		block content
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')