html
	head
		title The Sugar Cube
		link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Tangerine:400,700', rel='stylesheet', type='text/css')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
		link(href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css', rel='stylesheet')
		block stylesheets
		link(rel='stylesheet', type='text/css', href='stylesheets/styles.css')
	body
		.wrapper
			include ./includes/navbar.jade
			.section
				block content
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript', src='scripts/main.js')
		block scripts
