extends ./layout.jade

block content
	h1.title Menu
	#menu
		h2.menu-section CLASSIC CAKES
		hr
		h3.item-title DARK CHOCOLATE TRUFFLE
		h4.item-description Mud sponge ~ dark chocolate cream ~ chocolate glaze &nbsp;//&nbsp; 1250
		h3.item-title SEASONAL FRESH FRUIT
		h4.item-description Vanilla ponge ~ fresh fruit &nbsp;//&nbsp; 1250
		h3.item-title KERALA VANILLA MILLE FEUILLE
		h4.item-description Crisp puff ~ vanilla cr&egrave;me patisserie &nbsp;//&nbsp; 1250
		h3.item-title CARROT CAKE
		h4.item-description Carrot ponge ~ walnut ~ cream cheese frosting &nbsp;//&nbsp; 1500
		h3.item-title RED VELVET
		h4.item-description Red velvet sponge ~ cream cheese frosting &nbsp;//&nbsp; 1500
		h3.item-title OPERA
		h4.item-description Almond sponge ~ coffee butter cream ~ chocolate glaze &nbsp;//&nbsp; 1500
		h3.item-title SACHER TORTE
		h4.item-description Almond and chocolate sponge ~ apricot jam ~ chocolate glaze &nbsp;//&nbsp; 1500
		h3.item-title BLACK FOREST
		h4.item-description Chocolate mud sponge ~ cherry compote ~ chocolate mousse ~ vanilla cream &nbsp;//&nbsp; 1500
		h3.item-title DARK CHOCOLATE MOUSSE
		h4.item-description 54% chocolate ~ mud sponge &nbsp;//&nbsp; 1500
		h3.item-title NEW YORK STYLE CHEESE CAKE
		h4.item-description Classic cheese cake ~ berry compote &nbsp;//&nbsp; 1800
		h2.menu-section SIGNATURES
		hr
		h3.item-title RASPBERRY AND CHOCOLATE CHIBOUST
		h4.item-description A rich orange scented sponge layered with dark chocolate cream and a silky raspberry mousse &nbsp;//&nbsp; 1800
		h3.item-title GREEN APPLE WITH PISTACHIO
		h4.item-description A delectable combination of pistachio financier, Granny Smith compote and an aromatic cinnamon frosting &nbsp;//&nbsp; 1800
		h3.item-title PEANUT BUTTER AND KAHLUA
		h4.item-description A lush Kahlua soaked chocolate sponge tiered with peanut butter and milk chocolate mousse &nbsp;//&nbsp; 1800
		h3.item-title WALNUT CHEESE CAKE
		h4.item-description New York style cheesecake topped with a forest honey and walnut custard &nbsp;//&nbsp; 1800
		h3.item-title CARIBBEAN GATEAU
		h4.item-description A tropical mélange of Malibu soaked coconut sponge with passion fruit and roasted pineapple &nbsp;//&nbsp; 1800
		h3.item-title CHOCOLATE FUDGE
		h4.item-description A four textured chocolate extravaganza &nbsp;//&nbsp; 1800
		h3.item-title CARAMEL CROQUANT
		h4.item-description Moist vanilla sponge soaked in rich caramel and dark rum with butterscotch frosting &nbsp;//&nbsp; 1800
		h2.menu-section DESSERTS
		hr
		h3.item-title TIRAMISU
		h4.item-description Kahlua ~ savoiardi ~ mascarpon &nbsp;//&nbsp; 250
		h3.item-title SUGAR FREE TRIFLE
		h4.item-description Raspberry and chocolate ~ Lemon mascarpone and fresh fruit &nbsp;//&nbsp; 250
		h3.item-title MILLE FEUILLE
		h4.item-description Lemon cr&egrave;me patisserie ~ chocolate cr&egrave;me patisserie ~ raspberry cr&egrave;me patisserie &nbsp;//&nbsp; 200
		h3.item-title &Eacute;CLAIRS
		h4.item-description Black forest ~salted caramel ~ orange and mascarpone~ Intense chocolate &nbsp;//&nbsp; 150
		h3.item-title FRESHLY BAKED TARTS
		h4.item-description Apple frangipane ~Banana bake-well ~ Lemon ~ Chocolate &nbsp;//&nbsp; 150
		h3.item-title PANACOTTA
		h4.item-description Chocolate ~ mango ~ cappuccino ~ butterscotch &nbsp;//&nbsp; 150
		h2.menu-section SWEET TREATS
		hr
		h3.item-title COOKIES (PER KG)
		h4.item-list &mdash; &nbsp; Chocolate Nut Crunch &nbsp;//&nbsp; 900
		h4.item-list &mdash; &nbsp; Parmesan &nbsp;//&nbsp; 900
		h4.item-list &mdash; &nbsp; Muesli &nbsp;//&nbsp; 800
		h4.item-list &mdash; &nbsp; Lemon Drizzle &nbsp;//&nbsp; 700
		h4.item-list &mdash; &nbsp; Heavy Salted Oat &nbsp;//&nbsp; 700
		h4.item-list &mdash; &nbsp; Palmiers (20pc) &nbsp;//&nbsp; 450
		h3.item-title.item-list-title DRY LOAFS
		h4.item-list &mdash; &nbsp; Double Chocolate &nbsp;//&nbsp; 400
		h4.item-list &mdash; &nbsp; Lemon Chiffon &nbsp;//&nbsp; 400
		h4.item-list &mdash; &nbsp; Apple and Oat (Sugar Free) &nbsp;//&nbsp; 400
		h4.item-list &mdash; &nbsp; Rose and Cherry &nbsp;//&nbsp; 350
		h4.item-list &mdash; &nbsp; Coffee and Caramelized Almond &nbsp;//&nbsp; 350
		h4.item-list &mdash; &nbsp; Carrot and Walnut &nbsp;//&nbsp; 350
		h3.item-title.item-list-title CUP CAKES (PER PC)
		h4.item-list &mdash; &nbsp; Double Chocolate &nbsp;//&nbsp; 80
		h4.item-list &mdash; &nbsp; Red Velvet &nbsp;//&nbsp; 80
		h4.item-list &mdash; &nbsp; Banana Nutella &nbsp;//&nbsp; 80
		h4.item-list &mdash; &nbsp; Peanut Butter-Mocha &nbsp;//&nbsp; 80
		h3.item-title.item-list-title CAKE POPS (PER PC)
		h4.item-list &mdash; &nbsp; Raspberry &nbsp;//&nbsp; 60
		h4.item-list &mdash; &nbsp; Mint &nbsp;//&nbsp; 60
		h4.item-list &mdash; &nbsp; Chocolate &nbsp;//&nbsp; 60
		h2.menu-section HIGH TEA SAVORIES
		hr
		h3.item-title QUICHE (PER PC)
		h4.item-list &mdash; &nbsp; Mushroom Thyme and Garlic &nbsp;//&nbsp; 120
		h4.item-list &mdash; &nbsp; Spinach Corn and Feta &nbsp;//&nbsp; 120
		h4.item-list &mdash; &nbsp; Chicken Leek and Jalapenos &nbsp;//&nbsp; 150
		h3.item-title.item-list-title TURNOVERS (PER PC)
		h4.item-list &mdash; &nbsp; Sweet Peppers, Scallion and Cheddar &nbsp;//&nbsp; 120
		h4.item-list &mdash; &nbsp; Sausage Sun, Dried Tomato and Olives &nbsp;//&nbsp; 150
		h3.item-title.item-list-title CROSTATA (PER PC)
		h4.item-list &mdash; &nbsp; Zucchini Sun Dried Tomato Roast Garlic and Bocconcini &nbsp;//&nbsp; 120
		h4.item-list &mdash; &nbsp; Salami Onion and Pepper &nbsp;//&nbsp; 150
		br
		br