extends ./layout.jade

block content
	h1.title Menu
	#menu
		h2.menu-section CLASSIC CAKES
		hr
		h3.item-title DARK CHOCOLATE TRUFFLE
		h4.item-description Mud sponge ~ dark chocolate cream ~ chocolate glaze &nbsp;//&nbsp; 1250
		h3.item-title SEASONAL FRESH FRUIT
		h4.item-description Vanilla Sponge ~ Fresh Fruit &nbsp;//&nbsp; 1250