.navbar
	a(href='/')
		img(src='images/logo_300x300.png')
	ul
		a(href='/about.html')
			li ABOUT US
		a(href='/menu.html')
			li MENU
		a(href='#')
			li BLOG
		a(href='/contact.html')
			li CONTACT US
		a(href='/gallery.html')
			li GALLERY
	span.fa-stack.fa-lg
		a(href='http://facebook.com/thesugarcube.in', target='_blank')
			i.fa.fa-circle.fa-stack-2x
			i.fa.fa-facebook.fa-stack-1x