.navbar
	img(src='images/logo_300x300.png')
	ul
		a(href='#')
			li ABOUT US
		a(href='#')
			li MENU
		a(href='#')
			li BLOG
		a(href='#')
			li CONTACT US
		a(href='#')
			li GALLERY
	span.fa-stack.fa-lg
		a(href='http://facebook.com/thesugarcube.in', target='_blank')
			i.fa.fa-circle.fa-stack-2x
			i.fa.fa-facebook.fa-stack-1x