@import 'jeet/index';

html, body {
	background-image: url(../images/witewall_3.png);
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #5b5b5b;
}

a {
	text-decoration: none;
	color: inherit;
}

//@include edit();

.wrapper {
	@include center();
}

.navbar {
	@include col(3/12);
	* {
		@include center(320)
	}
	ul {
		list-style-type: none;
		a {
			margin-left: 4%;
			border-left: transparent solid 10px;
			transition: all 0.2s;
			&:hover {
				border-left: #7b4 solid 10px;
				color: #252525;
				margin-left: 0;
			}
			li {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 2.4rem;
				font-weight: 700;
				padding: 2%;
				margin-left: 2%;
			}
		}
	}
}

.section {
	@include col(9/12);
}

h1.title {
	text-align: center;
	font-family: 'Tangerine', cursive;
	font-size: 5rem;

}